package styles

templ RootStyling() {
	<style>
    :root {
        --primary: #FFFFFF;
        --accent: #007dff;
        --dark-text: #000000;
        --light-text: #FFFFFF;
        font-family: sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
    }
</style>
}
