package components

templ sideBar() {
	<div x-data="{ navOpen: false }">
		<div class="mobile-topbar">
			<svg
				x-on:click="navOpen = !navOpen"
				width="30"
				height="30"
				viewBox="0 0 24 24"
				fill="none"
				xmlns="http://www.w3.org/2000/svg"
			>
				<path d="M4 18L20 18" stroke="#000000" stroke-width="2" stroke-linecap="round"></path>
				<path d="M4 12L20 12" stroke="#000000" stroke-width="2" stroke-linecap="round"></path>
				<path d="M4 6L20 6" stroke="#000000" stroke-width="2" stroke-linecap="round"></path>
			</svg>
		</div>
		<div class="sidenav-container" :class="navOpen ? 'open' : ''">
			<div class="sidenav-links">
				<a hx-get="/" hx-push-url="true" hx-target="#main-content" x-on:click="navOpen = !navOpen">
					<span class="sidenav-icon">🏠 </span> <span class="sidenav-text">Dashboard </span>
				</a>
				<a hx-get="/log" hx-push-url="true" hx-target="#main-content" x-on:click="navOpen = !navOpen">
					<span class="sidenav-icon">🗒</span> <span class="sidenav-text">Log </span>
				</a>
				<a hx-get="/exercises" hx-push-url="true" hx-target="#main-content" x-on:click="navOpen = !navOpen">
					<span class="sidenav-icon">💪 </span> <span class="sidenav-text">Exercises </span>
				</a>
			</div>
		</div>
	</div>
}

templ PageWrapper() {
	<!DOCTYPE html>
	<html lang="en">
		<script src="https://unpkg.com/htmx.org@2.0.1" integrity="sha384-QWGpdj554B4ETpJJC9z+ZHJcA/i59TyjxEPXiiUgN2WmTyV5OEZWCD6gQhgkdpB/" crossorigin="anonymous"></script>
		<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
		<head>
			<meta charset="utf-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1"/>
			<title>GainGauge</title>
			<link rel="stylesheet" href="index.css"/>
		</head>
		<body>
			@sideBar()
			<div class="content-wrapper" id="main-content">
				{ children... }
			</div>
		</body>
	</html>
}
