.topbar {
    display: flex;
    justify-content: space-between;
    background-color: #424874;
    width: 100%;
}

.topbar>* {
    padding-left: 2em;
    padding-right: 2em;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%
}

.navlinks {
    display: flex;
    gap: 2em;
}

.navlinks>a {
    font-size: 2rem;
}

a {
    color: white;
}

.inactivelink {
    text-decoration: none;
}
